@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Google Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --bg-color : #ffffff;
    --text-color : #1f1f38;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 25px 8%;
    background: var(--bg-color);
    box-shadow: 0 2px 18px 0 rgba(129, 162, 182, 0.9);
    transition: .3s;
}
.logo{
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 800;
    line-height: 0.8;
    transition: .3s ;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar{
    display: flex;
}
.navbar a{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all .40s ease-in;
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
}
.navbar a:hover{
    background: var(--text-color);
    color: var(--bg-color);
    border-radius: 5px;
}
.icons{
    display: inline-block;
}
.icons i{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}
.icons i:hover{
    opacity: 0.7;
}
/* Section */
section{
    padding: 100px 8%;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto)) ;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    text-align: center;
    cursor: pointer;
    transition: .4s all ease-in;
}
.box{
    padding: 0 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56px rgba(55, 55, 55, 0.3);
    border-radius: 10px;
    position: relative;
    transition: all .3s ease-in;
}

.box img{
    width: 70%;
    height: auto;
}
.box h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.box h5{
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.box .cart i{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.box:hover{
    transform: translateY(-10px);
    background: var(--text-color);
    color: var(--bg-color);
}
.box:hover .cart i{
    background: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f6;
    flex-direction: column;
}
.about-container{
    text-align: center;
}
.about-container h2{
    margin-bottom: 30px;
    font-size: var(--main-font);
}
.about-container p{
    font-size: var(--p-font);
    font-weight: 500;
    max-width: 600px;
    color: var(--text-color);
    line-height: 30px;
}
.contact{
    padding: 80px 17%;
    background: var(--text-color);
}
.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    gap: 2rem;
    margin-bottom: 3rem;
}
.contact-content li{
    margin-bottom: 15px;
}
.contact-content li a{
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all 0.4s ease-in;
}
.contact-content li a:hover{
    transform: translateX(-5px);
}

.action form{
    text-align: center;
}
.action form input[type="text"]{
    width: 400px;
    max-width: 100%;
    padding: 12px 15px;
    color: #515151;
    background-color: var(--bg-color);
    outline: none;
    border: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 600;
}
.action form input[type="submit"]{
    padding: 10px 35px;
    color: var(--bg-color);
    background-color: var(--text-color);
    outline: none;
    border: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}
.action form input[type="submit"]:hover{
    border: 2px solid var(--bg-color);
    color: var(--bg-color);
    background: var(--text-color);
}

@media screen and (max-width: 700px){
    .navbar{
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
    }
    .logo{
        line-height: 0.4;
    }
}
@media screen and (max-width:620px) {
    header{
        position: relative;
    }
    .icons i{
        margin-bottom: 14px ;
    }
    
}








